<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carol.bvg">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="de.htwberlin.f4.ai.ma.nodelist.NodeListActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.node.MaxPictureActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.node.NodeShowActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.fingerprint.show_fingerprint.ShowFingerprintActivity"/>
        <activity android:name="de.htwberlin.f4.ai.ma.ImportExportActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.edge.EdgesManagerActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.routefinder.RouteFinderActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.location.LocationActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.location.LocationDetailedInfoActivity"/>
        <activity android:name="de.htwberlin.f4.ai.ma.settings.SettingsActivity" />

        <activity android:name="de.htwberlin.f4.ai.ma.android.measure.MeasureViewImpl" />
        <activity android:name="de.htwberlin.f4.ai.ma.android.measure.barcode.BarcodeCaptureActivity" />
        <activity android:name="de.htwberlin.f4.ai.ma.android.record.RecordViewImpl" />
        <activity android:name="de.htwberlin.f4.ai.ma.android.calibrate.CalibrateViewImpl" />
        <activity android:name="de.htwberlin.f4.ai.ma.android.measure.edges.EdgeDetailsViewImpl"
            android:windowSoftInputMode="stateHidden"/>
       <!--
        <activity
            android:name="de.htwberlin.f4.ai.ba.menu.ChooseAppActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="de.htwberlin.f4.ai.ma.node.NodeRecordEditActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.htwberlin.f4.ai.ma.android.CoordinatesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>


    <provider android:authorities="ourContentProviderAuthorities"
        android:name=".ContentProviderDB"
        android:exported="false"
        android:syncable="true"/>/>

</manifest>